.top-img{
    position: relative;
    top: 90px;
    width: 100%;
    height: 20%;
}
.content-box{
    width: 1100px;
    height: auto;
    display: flex;
    flex-direction: column;
    /*background: #0BB20C;*/
    margin: 82px auto;
}
.first{
    height: 350px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 4px #E2E2E2;
}
.first-box{
    width: 20%;
    height: 270px;
    background-color: #53a7f8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.first-box-img{
    width: 164px;
    height: 164px;
    border-radius: 50%;
    background-color: #489FF2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.first-box-title{
    width: auto;
    height: 25px;
    font-size: 26px;
    color: #ffffff;
    margin-top: 24px;
}
.second{
    width: 100%;
    height: 365px;
    /*background: #00FFFF;*/
    margin: 138px 0 115px 0;
    display: flex;
    justify-content: space-between;
}
.second-left{
    width: 25%;
    height: auto;
    /*background: yellow;*/
}
.v1 .en{
    font-size: 60px;
    color: #A5CDFB;
}
.v1 .zh{
    font-size: 36px;
    color: #53a7f8;
}
.second-right{
    width: 60%;
    height: 100%;
}
.top-step{
    width: 100%;
    /*background: #ff0055;*/
    height: 45px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.circle{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #53a7f8;
    font-size: 36px;
    text-align: center;
    line-height: 45px;
    color: #ffffff;
}
.line{
    width: 40%;
    height: 6px;
    background: #53a7f8;
}
.second-right .bottom-box{
    width: 100%;
    height: 300px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.box-item{
    width: 30%;
    height: 300px;
    background-color: #ffffff;
    box-shadow: 2px 5px 32px 0px rgba(0, 0, 0, 0.06);
    border-radius: 20px;
    border: solid 2px #53a7f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.box-title{
    font-family: MicrosoftYaHei-Bold;
    font-size: 26px;
    color: #333333;
    margin: 17px 0;
}
.box-desc{
    width: 162px;
    height: auto;
    font-family: MicrosoftYaHei;
    font-size: 18px;
    line-height: 30px;
    color: #ABABAB;
    text-align: center;
}
.third{
    width: 95%;
    height: 201px;
    margin-left: 6%;
    /*background: #00FFFF;*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.third-item{
    height: auto;
    width: auto;
    /*background: #ff0055;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #333333;
}
.fourth{
    width: 100%;
    height: 548px;
    /*background: #0BB20C;*/
    margin-top: 99px;
    /*margin-bottom: 40px;*/
    display: flex;
    justify-content: space-between;
}
.fourth-item{
    height: 100%;
    width: auto;
    /*background: #ff0055;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: MicrosoftYaHei-Bold;
    color: #333333;
}
.fourth-title{
    font-size: 48px;
}
.fourth-example{
    font-size: 30px;
}
.fourth-line{
    width: 169px;
    height: 2px;
    background: #53a7f8;
    opacity: 0.6;
}
.fifth{
    height: 209px;
    /*background: #00FFFF;*/
    position: relative;
}
.fifth img{
    display: inline-block;
    position: absolute;
    right: 0px;
}