.top-img{
    position: relative;
    top: .90rem;
    width: 7.50rem;
    height: 6.4rem;
    /*background: #ff0055;*/
    display: flex;
    flex-direction: column;
}
.top-img img{
    width: 7.50rem;
    height: 5.85rem;
}
.top-img div{
    height: .55rem;
    /*background: #00FFFF;*/
    line-height: .55rem;
    margin-left: .21rem;
    font-size: .20rem;
    color: #333333;
}
.top-img div span{
    color: #53a7f9;
}
.content-box{
    width: 7.5rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*background: #9bcc60;*/
    margin: .9rem auto 0;
    border-top: .13rem solid #ECECEC;
}
.title{
    /*width: 1.43rem;*/
    height: .96rem;
    /*background: #2a2a2a;*/
    margin: 0 auto .80rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-zh{
    height: 61px;
    width: 100%;
    font-family: SourceHanSansSC-Bold;
    font-size: .36rem;
    padding-top: .28rem;
    color: #333333;
}
.title-en{
    font-family: Calibri;
    font-size: .14rem;
    margin: .05rem auto;
    /*color: #C2C2C2;*/
}
.title-border-bottom{
    width: 26px;
    height: 4px;
    background-color: #089efe;
}
.box{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /*background: #00FFFF;*/
}
.box-left{
    width: 500px;
    height: auto;
    /*background: #f1f1e3;*/
}
.box-right{
    width: 500px;
    height: auto;
    /*background: #ff0055;*/
}
.box-item{
    margin-bottom: 1rem;
    width: 3.29rem;
    height: 3.68rem;
}


